body{
    background: #efeff5;
}
.result-general{
    border: 1px solid #4dff4d;
    height: 40px;
    width: 66%;
    background: #ccffcc !important;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn {
    padding: 6px 30px;
    border-radius: 30px;
}
.form-group{
    border-radius: 15px;
}
.form-group input{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #f2f2f2;
}
i{
    color: #cccc00;
}
.cach-lam {
    background: white;
    padding-left: 20px;
    margin: 20px 0;
    width: 66%;
    padding-block: 20px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cach-lam::before{
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background: #80d4ff;
    left: 0;
    top: 0;
}
.result-general{
    padding-left: 20px;
}
.result-general i{
    margin-right: 5px;
}
#result, #result1{
    font-size: 18px;
}